In [1]:
import pandas as pd

In [2]:
dataset = {
    "cars":["Ferrarri", "Toyota", "Lamdorghini"],
    "TopSpeed": ["350 MPH", "250 MPH", "300 MPH"],
    "Price" : ["10 koti", "30 Lakh", "7 koti"]
}

In [3]:
df = pd.DataFrame(dataset, index = ["Royal Car", "Family Car", "Sports Car"])
df

                   cars TopSpeed    Price
Royal Car      Ferrarri  350 MPH  10 koti
Family Car       Toyota  250 MPH  30 Lakh
Sports Car  Lamdorghini  300 MPH   7 koti

In [4]:
df.loc ["Family Car"]

cars         Toyota
TopSpeed    250 MPH
Price       30 Lakh
Name: Family Car, dtype: object